<div>
    <label>用户名：</label><input type="text" value="" ng-model="username">
</div>
<div>
    <label>密码：</label><input type="text" value="" ng-model="password">
</div>

<button ng-click="login()">登录</button>

<a href="/angular-demo/web/index.html#/role">go to role</a>