<div>this is role page</div>
<div>
    <input ng-model="roleName">
    <select ng-model="status">
        <option value="yes">可用</option>
        <option value="no">禁用</option>
    </select>
</div>

<button ng-click="show()">show </button>